body {
     background-color: lightgrey;
}

.grid-container {
    background-color: lightgrey;
    display: grid;
    
    grid-template-columns:  auto auto ;
}
.column2 {
    background-color: whitesmoke;
   display: grid;
   margin-top: 20px;
   width: 500px;
   height: 600px;
   border: 2px solid white ;
   border-radius: 5px;
   grid-template-rows: 100px  496px;
   margin-left: 20px;
}

.column1 {
    background-color: whitesmoke;
    margin: auto;
   display: grid;
   margin-top: 90px;
   width: 450px;
   height: 450px;
   border: 2px solid white ;
   border-radius: 5px;
   grid-template-rows: 100px  496px;
}


.title {
    text-align: center;
    grid-row: 1;
    background-color: #0DEEC9;
}

.todo {
    
    grid-row: 2;
    margin: 10px 10px 10px 10px;
    overflow-y: scroll;
    
}

.btn-add {
    float: right;
}
.firstinput {
    width: 325px;
     float: "left";
}

.nav1 {
    cursor: pointer;
    
}
.nav1 :hover {
    background-color: #bdbdbd;
}

.title2 {
    background-color: #64b5f6;
    text-align: center;
    grid-row: 1;
    height: 100px;
}

.complete {
    display: grid;
    margin: 10px 10px 10px 10px;
    grid-row: 2;
    overflow-y: scroll;
}

.group-item1 {
    margin-bottom: 5px;
    padding : 7px;
}
.group-item2 {
    margin-bottom: 5px;
    padding : 7px;
    background-color: #28A745;
}

.group-item3 {
  margin-bottom: 5px;
  padding: 7px;
}

.group-item4 {
    margin-bottom: 5px;
    padding: 7px;
    background-color: red;
  }

